html {
  background: black;
}

html, body, #root, #root > div {
  height: 100%;
}

body {
  font-family: 'Inter', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a {
  text-decoration: none;
  transition: 0.2s ease-out;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 77px;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 77px;
}

h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.5;
}
